/* src/routes/auth/auth.css */

/* Default styles */
.auth-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-gray-200);
}

.auth-error {
    color: var(--color-light-text);
    text-align: center;
}

.auth-container {
        max-width: 90%;
        padding: 15px;
    }

.auth-container2 {
    display: flex;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-gray-100);
    background-color: var(--color-white);
    margin: 0 auto;
    padding-top: 10px;
}

.auth-button {
    width: 50%;
    text-align: center;
    justify-content:center;
}

.login-input {
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.header {
    align-items: center;
    text-align: center;
    font-size: var(--font-size-xl);
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button {
    width: 100%;
    height: 50px;
}

.login-input {
    width: 85%;
    margin: 10px 0;
    padding: 10px;
}

.login-button {
    margin: 20px 0 20px 14px;
    height: 40px;
    width: 50%

}

.auth-form {
    margin: 0 auto;
}

/* Mobile devices */
@media (min-width: 200px) and (max-width: 559px) {
    .auth-container {
        max-width: 60%;
        padding: 15px;
    }

    .button {
        width: 25%;

    }

    .login-button {
        width: 30%

    }
}

/* Mobile devices */
@media (max-width: 600px) {
    .auth-container {
        width: 60%;
    }

    .button {
        width: 50%;
    }

    .login-button {
        width: 40%;
        margin: 20px 0 20px 100px;
    }
}

/* Tablet devices */
@media (min-width: 601px) and (max-width: 1024px) {
    .auth-container {
        width: 55%;
    }

    .button {
        width: 100%;
    }

    .login-button {
        width: 38%;
        margin: 20px 0 20px 35%;
    }
}

/* Desktop devices */
@media (min-width: 1025px) {
    .auth-container {
        width: 550px;
    }

    .button {
        width: 50%;
    }

    .login-button {
        width: 25%;
        margin-left: 200px;

    }
}
