/* src/components/movies/movies.css*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-container-options {
  display: flex;
  flex-direction: column;
}

/* TAG component */

.tag {
    text-transform: capitalize;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--color-crimson-200);
    background-color: var(--color-gray-300);
    border-radius: 24px;
    display: inline-block;
}

.tag.selected {
    background-color: var(--color-crimson-200);
    color: var(--color-white);
    border-color: var(--color-crimson-200);
    }

/* FILTER componenent*/

.filter-container {
    padding: 20px;
    background-color: var(--color-gray-300);
    margin-bottom: 20px;

}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 10px;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.year-input {
    margin-bottom: 10px;
    background-color: var(--color-gray-300)
}

.sort-select {
    margin-bottom: 10px;
}

.tag-container {
    gap: 10px;
    padding: 5px 10px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: Capitalize;
}


/* MovieCard componenet */

.movie-card {
  list-style-type: none;
  position: relative;
  margin: 10px;
  width: 300px;
  height: 400px;
}

.movie-card-content {
  position: relative;
}

.movie-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.movie-image {
  width: 100%;
  height: 200px;
  display: block;
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.movie-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.movie-synopsis {
  font-size: 0.9em;
  margin: 15px 0;
  padding: 5px;
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin-top: 20px;
}

.movie-genre {
  background-color: var(--color-crimson-200);
  border-radius: 35px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.8em;
}

.movie-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.movie-icons {
  cursor: pointer;
  color: rgb(255, 192, 192);
  cursor: pointer;
  font-size: 1.5em;
}

.icon-favorite, .icon-watchlater {
  color: rgb(255, 192, 192);
  cursor: pointer;
  font-size: 1.5em;
}

.icon-favorite.active, .icon-watchlater.active {
  color: gold;
}

