/* Default styles (Desktop by default) */

/* header */
.nav-bar {
    background-color: var(--color-gray-600);
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--color-light-text);
    font-size: var(--font-size-h3);
    margin: 5px;
    padding: 10px;
    align-items: center;
}

.nav-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-img {
    border-radius: 50%;
    border: 3px solid var(--color-crimson-300);
    margin: 4px 10px;
}

.nav-greeting {
    color: var(--color-light-text);
    font-size: var(--font-size-h6);
}

.exit-icon {
    color: var(--color-crimson-300);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px;
}

.exit-icon .fa-arrow-right-from-bracket {
    margin-right: 5px;
}

/* SideBar */

.sidebar {
    background-color: var(--color-firebrick);
    width: 60px;
    height: 100%;
    transition: width 0.3s ease; /* Smooth transition */
    overflow: hidden; /* Hide overflow content */
    white-space: nowrap; /* Prevent text wrapping */
}

.sidebar.expanded {
    width: 200px;
}

.nav-ul {
    text-align: center;
    padding: 20px 0;
    list-style: none;
    align-items: center;
}

.side-icon {
    color: var(--color-white);
    margin-right: 18px;
}

.end-icon {
    margin-left: 25px;
}

.side-nav-item {
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    color: var(--color-light-text);
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    padding: 15px 0;
}

.side-nav-item:hover {
    background-color: var(--color-crimson-100);


}

.activity-ul {
    margin: 10px 5px 40px 8px;
    display: flex;
    flex-direction: column;
    height: auto;

}


/** ================================================================== */

/** ================================================================== */


/* Mobile devices */
@media (max-width: 600px) {

    /* Header */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-title {
        font-size: var(--font-size-h4);
        text-align: center;
    }

    .nav-user {
        flex-direction: column;
    }

    .nav-greeting {
        font-size: var(--font-size-body);
    }

    .exit-icon {
        margin: 10px 0;
    }

    /* SideBar */
}

/* Tablet devices */
@media (min-width: 601px) and (max-width: 1024px) {

    /* Header */
    .nav-bar {
        flex-direction: row;
        justify-content: space-between;

    }

    .nav-title {
        font-size: var(--font-size-h3);
    }

    .nav-user {
        flex-direction: row;
        justify-content: center;
    }

    .nav-greeting {
        font-size: var(--font-size-h5);
    }

    .exit-icon {
        margin: 10px;
    }

    /* SideBar */
}

/* Desktop devices */
@media (min-width: 1025px) {

}
