/* src/components/general/general.css */
.input-container,
.select-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: var(--color-gray-400);
}

.input-container {
    background-color: var(--color-white);
}

/* Search Bar*/
.select-container {
    background-color: var(--color-body);
    color: var(--color-light-text);
}

.input-icon {
    color: var(--color-gray-300)
}

.input-field {
    padding: 8px;
    border: none;
    font-size: var(--font-size-large);
    border-bottom: var(--color-firebrick) 1px solid;
}

.input-field:focus {
    outline: none;
    border-color: 1px solid var(--color-red);
    font-size: var(--font-size-large);
}

.select-field {
    flex: 1;
    padding: 8px;
    background-color: var(--color-gray-100);
    border: none;
    border-bottom: var(--color-red) 0.5px solid;
    border-radius: 4px;
    color: var(--color-light-text);
    font-size: var(--font-size-base);
    width: 200px;
}

.label {
    margin-left: 12px;
    font-size: var(--font-size-xl);
}

.button {
    width: 200px;
    text-align: center;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    background-color: var(--color-firebrick);
    color: var(--color-white);
    font-size: var(--font-size-large);
}

.button:hover {
    background-color: var(--color-crimson-300);
}

.button-icon {
    margin-right: 8px;
}

.search-bar {
    flex: 1;
    padding: 8px;
    border-radius: 30px;
    border: none;
    color: var(--color-gray-500);
    background-color: var(--color-gray-100);
    font-size: var(--font-size-base);
}

.input-icon {
  color: #e19898; /* Replace this with your desired color */
}

.login-input {
    margin: 0 auto;
}
