/* src/components/general/general.css */
.input-container,
.select-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: var(--color-gray-400);
}

.input-container {
    background-color: var(--color-white);
}

/* Search Bar*/

.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar {
    flex-grow: 1;
    padding: 8px 12px;
    padding-left: 80px; /* Adjust padding to fit the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #888;
    margin-right: 10px;

}


.select-container {
    background-color: var(--color-body);
    color: var(--color-light-text);
}

.input-icon {
    color: var(--color-gray-300)
}

.input-field {
    padding: 8px;
    border: none;
    font-size: var(--font-size-large);
    border-bottom: var(--color-firebrick) 1px solid;
}

.input-field:focus {
    outline: none;
    border-color: 1px solid var(--color-red);
    font-size: var(--font-size-large);
}

.select-field {
    flex: 1;
    padding: 8px;
    background-color: var(--color-gray-100);
    border: none;
    border-bottom: var(--color-red) 0.5px solid;
    border-radius: 4px;
    color: var(--color-light-text);
    font-size: var(--font-size-base);
    width: 200px;
}

.label {
    margin-left: 12px;
    font-size: var(--font-size-xl);
}

.button {
    height:50px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--color-firebrick);
    color: var(--color-white);
    font-size: var(--font-size-large);
}

.button:hover {
    background: var(--color-crimson-300);
}

.button-icon {
    margin-right: 10px;
}

.button-end-icon {
    margin-left: 30px;
    display: none;
}

.search-bar {
    flex: 1;
    padding: 8px;
    border-radius: 30px;
    border: none;
    color: var(--color-gray-500);
    background-color: var(--color-gray-100);
    font-size: var(--font-size-base);
}

.input-icon {
  color: #e19898;
}

.login-input {
    margin: 0 auto;
}
