/* dashboard.css */

/* General layout */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Main content layout */
.main-content {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust according to the header height */
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #222;
  color: white;

  position: fixed;
  top: 60px; /* Adjust according to the header height */
  bottom: 0;
  overflow-y: auto;
  z-index: 500;
}

/* Content area */
.content-area {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
}

/* Adjustments for specific components if needed */
.homepage, .favorites, .watchlater {
  padding: 20px;
}


.watch-later {
  padding: 20px;
}

.watch-later-header {
  text-align: center;
  margin-bottom: 20px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* dashboard.css */

/* General layout */
.homepage {
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Movie card container */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Individual movie card */
.movie-card {
  background-color: var(--color-gray-200);
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(20% - 20px); /* 5 cards per row with space */
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
}

.movie-card-title {
  font-size: 1.1em;
  margin-top: 10px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
