/* Activity */
.activity-dash {
    background-color: var(--color-gray-200);

    color: var(--color-light-text);
    padding: 0 5px;
}

.activity-title {
    font-size: var(--font-size-h3);
    font-weight: bold;
    margin-bottom: 10px;

    text-align: center;
    position: relative; /* Needed for the ::after pseudo-element */
    padding-bottom: 1px; /* Add padding below the text */
}

.activity-title::after {
    content: '';
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    bottom: 0; /* Align the underline with the bottom of the text */
    width: 88%; /* Make the underline longer than the text */
    height: 2px; /* Adjust the thickness of the underline */
    background-color: var(--color-white);
}

.activity-list {
    list-style: none;
    padding: 8px 0;
    margin: 4px 0;
}

.activity-info {
    font-size: var(--font-size-body);
    color: var(--color-light-text);
    word-wrap: break-word; /* Ensures long words break and wrap onto the next line */
    overflow-wrap: break-word; /* Modern syntax for word-wrap */
    white-space: normal; /* Ensures the text wraps to the next line */
}

.highlight {
  color: var(--color-red);
}
